# EditorConfig is awesome: https://editorconfig.org
root = true

# Use Tcl style guide  https://wiki.tcl-lang.org/page/Tcl+Style+Guide
[*.{c,cpp,h,hpp,vc,tcl}]
charset = latin1
indent_style = tab
indent_size = 4
tab_width = 8
trim_trailing_whitespace = true
insert_final_newline = true

[*.rc]
# the VC++ RC compiler will cough if not strict
end_of_line = crlf